
# DATA PROGRAMMING :- PROBLEM SET 2

# QUESTION 1

ANSWER

In [4]:
a=0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

b()
b()
b()
a

6

1. a = 0 initializes a global variable a with a value of 0.

2. The function b() is defined.

3. The global a statement inside the function b specifies that the function should use the global variable a.

4. In the line a = c(a), the function c(a) is called with the global variable a as an argument, and the result of c(a) is assigned back to the global variable a.

5. The function c(a) adds 2 to the value of its argument and returns the result.

Now, let's analyze the code execution:

1. After the first call to b(), the c(a) function is invoked with a as 0. The result is 2, and this value is assigned to the global variable a. So, a becomes 2.

2. The second call to b() invokes c(a) again, this time with a as 2. The result is 4, which is assigned back to the global variable a. Therefore, a becomes 4.

3. The third call to b() invokes c(a) with a as 4, resulting in a value of 6. This value is assigned to the global variable a. As a result, a becomes 6.

In the end, when i evaluate a, it will display the value 6 because each call to the b() function updates the global variable a.

# QUESTION 2

ANSWER

In [53]:
import os

def fileLength(filename):
    full_path = os.path.join('Downloads', filename)
    try:
        with open(full_path, 'r') as file:
            content = file.read()
            print(len(content))
    except FileNotFoundError:
        print(f"File {filename} not found.")
    except Exception as e:
        print(f"An error occurred: {e}")

fileLength('midterm.py')
fileLength('idterm.py')

358
File idterm.py not found.

# QUESTION 3:-

 ANSWER :-

In [18]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

    
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# QUESTION 4:-

ANSWER:

In [20]:
def collatz(x):
    if x == 1:
        print(1)
    else:
        print(x)
        if x % 2 == 0:
            collatz(x // 2)
        else:
            collatz(3 * x + 1)


collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

# QUESTION :-5

ANSWER

In [21]:
def binary(n):
    if n > 1:
        binary(n // 2)
    print(n % 2, end='')


binary(0)
print()  
binary(1)
print()
binary(3)
print()
binary(9)

0
1
11
1001

# QUESTION 6

ANSWER:-

In [16]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.in_heading = False
        self.heading_level = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith("h") and tag[1:].isdigit():
            self.in_heading = True
            self.heading_level = int(tag[1])

    def handle_endtag(self, tag):
        if self.in_heading:
            self.in_heading = False

    def handle_data(self, data):
        if self.in_heading:
            
            indentation = "  " * (self.heading_level - 1)
            print(indentation + data)


with open('C:/Users/jaink/Downloads/w3c.html', 'r') as infile:
    content = infile.read()


hp = HeadingParser()
hp.feed(content)

W3C Mission
  Principles

# QUESTION 7

ANSWER

In [56]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    
    if depth == 0:
        return
    
    try:
        
        response = requests.get(url)
        response.raise_for_status()  
        soup = BeautifulSoup(response.text, 'html.parser')
        
        
        print(" " * indent + url)
        
        
        links = soup.find_all('a', href=True)
        
        
        for link in links:
            new_url = link['href']
            if not new_url.startswith('http'):
                
                new_url = '/'.join(url.split('/')[:-1]) + '/' + new_url
            webdir(new_url, depth - 1, indent + 4)
    
    except requests.exceptions.RequestException as e:
        print("Error:", e)
    except Exception as e:
        print("An error occurred:", e)


webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

Error: 404 Client Error:  for url: http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

# QUESTION 8:-

ANSWER

Write SQL queries on the below database table that return:

a) All the temperature data

SELECT Temperature
FROM table_name;

b) All the cities, but without repetition:

SELECT DISTINCT City
FROM table_name;

c) All the records for India:

SELECT *
FROM table_name
WHERE Country = 'India';

d) All the Fall records:

SELECT *
FROM table_name
WHERE Season = 'Fall';

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters:

SELECT City, Country, Season
FROM table_name
GROUP BY City, Country, Season
HAVING AVG(Rainfall) BETWEEN 200 AND 400;

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:

SELECT City, Country
FROM table_name
WHERE Season = 'Fall'
GROUP BY City, Country
HAVING AVG(Temperature) > 20
ORDER BY AVG(Temperature) ASC;

g) The total annual rainfall for Cairo:

SELECT SUM(Rainfall) AS Total_Rainfall
FROM table_name
WHERE City = 'Cairo';

h) The total rainfall for each season:

SELECT Season, SUM(Rainfall) AS Total_Rainfall
FROM table_name
GROUP BY Season;

# QUESTION 9

ANSWER:

A) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']

In [17]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
uppercase_words = [word.upper() for word in words]
print("A) Uppercase Words:", uppercase_words)

A) Uppercase Words: ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

B) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']

In [18]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
lowercase_words = [word.lower() for word in words]
print("B) Lowercase Words:", lowercase_words)

B) Lowercase Words: ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

C) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words)

In [19]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
word_lengths = [len(word) for word in words]
print("c) Length of Words:", word_lengths)

c) Length of Words: [3, 5, 5, 3, 5, 4, 3, 4, 3]

D) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)

In [21]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
list_of_lists = [[word.upper(), word.lower(), len(word)] for word in words]
print("D) List of Lists (Word, Uppercase Word, Length):", list_of_lists)

D) List of Lists (Word, Uppercase Word, Length): [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

 E) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [22]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
words_4_or_more = [word for word in words if len(word) >= 4]
print("E) Words with 4 or More Characters:", words_4_or_more)

E) Words with 4 or More Characters: ['quick', 'brown', 'jumps', 'over', 'lazy']