
# DATA PROGRAMMING :- PROBLEM SET 2

# QUESTION 1

ANSWER

In [4]:
a=0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

b()
b()
b()
a

6

1. a = 0 initializes a global variable a with a value of 0.

2. The function b() is defined.

3. The global a statement inside the function b specifies that the function should use the global variable a.

4. In the line a = c(a), the function c(a) is called with the global variable a as an argument, and the result of c(a) is assigned back to the global variable a.

5. The function c(a) adds 2 to the value of its argument and returns the result.

Now, let's analyze the code execution:

1. After the first call to b(), the c(a) function is invoked with a as 0. The result is 2, and this value is assigned to the global variable a. So, a becomes 2.

2. The second call to b() invokes c(a) again, this time with a as 2. The result is 4, which is assigned back to the global variable a. Therefore, a becomes 4.

3. The third call to b() invokes c(a) with a as 4, resulting in a value of 6. This value is assigned to the global variable a. As a result, a becomes 6.

In the end, when i evaluate a, it will display the value 6 because each call to the b() function updates the global variable a.

# QUESTION 2

ANSWER

In [53]:
import os

def fileLength(filename):
    full_path = os.path.join('Downloads', filename)
    try:
        with open(full_path, 'r') as file:
            content = file.read()
            print(len(content))
    except FileNotFoundError:
        print(f"File {filename} not found.")
    except Exception as e:
        print(f"An error occurred: {e}")

fileLength('midterm.py')
fileLength('idterm.py')

358
File idterm.py not found.

# QUESTION 3:-

 ANSWER :-

In [18]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

    
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# QUESTION 4:-

ANSWER:

In [20]:
def collatz(x):
    if x == 1:
        print(1)
    else:
        print(x)
        if x % 2 == 0:
            collatz(x // 2)
        else:
            collatz(3 * x + 1)


collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

# QUESTION :-5

ANSWER

In [21]:
def binary(n):
    if n > 1:
        binary(n // 2)
    print(n % 2, end='')


binary(0)
print()  
binary(1)
print()
binary(3)
print()
binary(9)

0
1
11
1001

# QUESTION 6

ANSWER:-

In [16]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.in_heading = False
        self.heading_level = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith("h") and tag[1:].isdigit():
            self.in_heading = True
            self.heading_level = int(tag[1])

    def handle_endtag(self, tag):
        if self.in_heading:
            self.in_heading = False

    def handle_data(self, data):
        if self.in_heading:
            
            indentation = "  " * (self.heading_level - 1)
            print(indentation + data)


with open('C:/Users/jaink/Downloads/w3c.html', 'r') as infile:
    content = infile.read()


hp = HeadingParser()
hp.feed(content)

W3C Mission
  Principles

# QUESTION 7

ANSWER

In [56]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    
    if depth == 0:
        return
    
    try:
        
        response = requests.get(url)
        response.raise_for_status()  
        soup = BeautifulSoup(response.text, 'html.parser')
        
        
        print(" " * indent + url)
        
        
        links = soup.find_all('a', href=True)
        
        
        for link in links:
            new_url = link['href']
            if not new_url.startswith('http'):
                
                new_url = '/'.join(url.split('/')[:-1]) + '/' + new_url
            webdir(new_url, depth - 1, indent + 4)
    
    except requests.exceptions.RequestException as e:
        print("Error:", e)
    except Exception as e:
        print("An error occurred:", e)


webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

Error: 404 Client Error:  for url: http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

# QUESTION 8

ANSWER

In [1]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting prettytable (from ipython-sql)
  Obtaining dependency information for prettytable from https://files.pythonhosted.org/packages/4d/81/316b6a55a0d1f327d04cc7b0ba9d04058cb62de6c3a4d4b0df280cbe3b0b/prettytable-3.9.0-py3-none-any.whl.metadata
  Downloading prettytable-3.9.0-py3-none-any.whl.metadata (26 kB)
Requirement already satisfied: ipython in c:\users\jaink\anaconda3\lib\site-packages (from ipython-sql) (8.12.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Obtaining dependency information for sqlalchemy>=2.0 from https://files.pythonhosted.org/packages/04/88/39f1f5570eb1d28704b4954c97ee91c3b5604f2949ab8ed40b33c90aaad9/SQLAlchemy-2.0.22-cp311-cp311-win_amd64.whl.metadata
  Downloading SQLAlchemy-2.0.22-cp311-cp311-win_amd64.whl.metadata (9.7 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
     ---------------------------------------- 0.0/41.2 kB ? eta -:--:--
     ---------------------------------------- 41.2/41.2 kB 2.1 MB/s eta 0:00:00
Requirement already satisfied: six in c:\users\jaink\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\jaink\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\jaink\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\jaink\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\jaink\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\jaink\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\jaink\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\jaink\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\jaink\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\jaink\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\jaink\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\jaink\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\jaink\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\jaink\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\jaink\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\jaink\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\jaink\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\jaink\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\jaink\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading SQLAlchemy-2.0.22-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.1 MB 15.5 MB/s eta 0:00:01
   ---------------------------- ----------- 1.5/2.1 MB 18.5 MB/s eta 0:00:01
   ---------------------------------------  2.0/2.1 MB 18.7 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 14.5 MB/s eta 0:00:00
Downloading prettytable-3.9.0-py3-none-any.whl (27 kB)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed ipython-sql-0.5.0 prettytable-3.9.0 sqlalchemy-2.0.22 sqlparse-0.4.4

In [9]:
import sqlite3

con = sqlite3.connect('practice.db')
cur = con.cursor()
cur.execute("CREATE TABLE practice (city text, country text, season text, Temerature float, Rainfall float)")
cur.execute("INSERT INTO practice VALUES ('Mumbai', 'India', 'winter', 24.8,5.9)")
cur.execute("INSERT INTO practice VALUES ('Mumbai', 'India', 'spring', 28.4,16.2)")
cur.execute("INSERT INTO practice VALUES ('Mumbai', 'India', 'summer', 27.9,1549.4)")
cur.execute("INSERT INTO practice VALUES ('Mumbai', 'India', 'fall', 27.6,346.0)")
cur.execute("INSERT INTO practice VALUES ('London', 'united kingdom', 'winter', 4.2,207.7)")
cur.execute("INSERT INTO practice VALUES ('London', 'united kingdom', 'spring', 8.3,169.6)")
cur.execute("INSERT INTO practice VALUES ('London', 'united kingdom', 'summer', 15.7,157.0)")
cur.execute("INSERT INTO practice VALUES ('London', 'united kingdom', 'fall', 10.4,218.5)")
cur.execute("INSERT INTO practice VALUES ('Cairo', 'Egypt', 'winter', 13.6,16.5)")
cur.execute("INSERT INTO practice VALUES ('Cairo', 'Egypt', 'spring', 20.7,6.5)")
cur.execute("INSERT INTO practice VALUES ('Cairo', 'Egypt', 'summer', 27.7,0.1)")
cur.execute("INSERT INTO practice VALUES ('Cairo', 'Egypt', 'fall', 22.2,4.5)")

con.commit()
con.close()

OperationalError: table practice already exists

In [4]:
con = sqlite3.connect('practice.db')
cur = con.cursor()
cur.execute('SELECT * FROM practice')
cur.fetchall()

[('Mumbai', 'India', 'winter', 24.8, 5.9),
 ('Mumbai', 'India', 'spring', 28.4, 16.2),
 ('Mumbai', 'India', 'summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'fall', 27.6, 346.0),
 ('London', 'united kingdom', 'winter', 4.2, 207.7),
 ('London', 'united kingdom', 'spring', 8.3, 169.6),
 ('London', 'united kingdom', 'summer', 15.7, 157.0),
 ('London', 'united kingdom', 'fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'fall', 22.2, 4.5)]

In [8]:
cur.execute('SELECT Temerature FROM practice')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [10]:
cur.execute('SELECT Distinct city FROM practice')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [11]:
cur.execute('SELECT * FROM practice WHERE country = "India"')
cur.fetchall()

[('Mumbai', 'India', 'winter', 24.8, 5.9),
 ('Mumbai', 'India', 'spring', 28.4, 16.2),
 ('Mumbai', 'India', 'summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'fall', 27.6, 346.0)]

In [12]:
cur.execute('SELECT * FROM practice WHERE season = "fall"')
cur.fetchall()

[('Mumbai', 'India', 'fall', 27.6, 346.0),
 ('London', 'united kingdom', 'fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'fall', 22.2, 4.5)]

In [13]:
cur.execute('SELECT city,country,season FROM practice GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400')
cur.fetchall()

[('London', 'united kingdom', 'fall'),
 ('London', 'united kingdom', 'winter'),
 ('Mumbai', 'India', 'fall')]

In [17]:
cur.execute('SELECT city,country FROM practice WHERE Temerature > 20 ORDER By Temerature ASC')
cur.fetchall()

[('Cairo', 'Egypt'),
 ('Cairo', 'Egypt'),
 ('Mumbai', 'India'),
 ('Mumbai', 'India'),
 ('Cairo', 'Egypt'),
 ('Mumbai', 'India'),
 ('Mumbai', 'India')]

In [19]:
cur.execute('SELECT SUM(rainfall) FROM practice WHERE city = "Cairo"')
cur.fetchall()

[(27.6,)]

In [20]:
cur.execute('SELECT season,  SUM(rainfall) FROM practice GROUP BY season')
cur.fetchall()

[('fall', 569.0),
 ('spring', 192.29999999999998),
 ('summer', 1706.5),
 ('winter', 230.1)]

# QUESTION 9

ANSWER:

A) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']

In [17]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
uppercase_words = [word.upper() for word in words]
print("A) Uppercase Words:", uppercase_words)

A) Uppercase Words: ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

B) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']

In [18]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
lowercase_words = [word.lower() for word in words]
print("B) Lowercase Words:", lowercase_words)

B) Lowercase Words: ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

C) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words)

In [19]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
word_lengths = [len(word) for word in words]
print("c) Length of Words:", word_lengths)

c) Length of Words: [3, 5, 5, 3, 5, 4, 3, 4, 3]

D) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)

In [21]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
list_of_lists = [[word.upper(), word.lower(), len(word)] for word in words]
print("D) List of Lists (Word, Uppercase Word, Length):", list_of_lists)

D) List of Lists (Word, Uppercase Word, Length): [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

 E) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [22]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
words_4_or_more = [word for word in words if len(word) >= 4]
print("E) Words with 4 or More Characters:", words_4_or_more)

E) Words with 4 or More Characters: ['quick', 'brown', 'jumps', 'over', 'lazy']